'context-menu':
  'atom-text-editor': [
    {
      'label': 'Compile Locally'
      'command': 'particle-offline-compiler:compile'
    }
    {
      'label': 'Compile Locally + DFU Upload'
      'command': 'particle-offline-compiler:compileDFU'
    }
    {
      'label': 'DFU Upload'
      'command': 'particle-offline-compiler:usbFlash'
    }
    {
      'label': 'Attempt OTA Update'
      'command': 'particle-offline-compiler:OTAU'
    }
    { type: 'separator' }
  ]
'menu': [
  {
    'label': 'Compile'
    'submenu': [
      {
      'label': 'Compile Options'
      'submenu': [
          {
            type: 'radio'
            'label': 'Compile User Part Only'
            'command': 'particle-offline-compiler:setCompileUser'
          }
          {
            type: 'radio'
            'label': 'Compile User and System Parts'
            'command': 'particle-offline-compiler:setCompileUserSystem'
          }
          {
            type: 'radio'
            'label': 'Compile Bootloader'
            'command': 'particle-offline-compiler:setCompileBootloader'
          }
          { type: 'separator' }
          {
            type: 'radio'
            'label': 'Don\'t use \"Clean\"'
            'command': 'particle-offline-compiler:setDontUseClean'
          }
          {
            type: 'radio'
            'label': 'Use \"Clean\" -> Complete Rebuild'
            'command': 'particle-offline-compiler:setUseClean'
          }
        ]
      }
      {
        'label': 'Compile Locally'
        'command': 'particle-offline-compiler:compile'
      }
      {
        'label': 'Compile Locally + DFU Upload'
        'command': 'particle-offline-compiler:compileDFU'
      }
      {
        'label': 'DFU Upload'
        'command': 'particle-offline-compiler:usbFlash'
      }
      {
        'label': 'Attempt OTA Update'
        'command': 'particle-offline-compiler:OTAU'
      }
      { type: 'separator' }
      {
        'label': 'DFU Serial Port'
        'submenu': [
          {
            'label': '[refresh DFU serial device list]'
            'command': 'particle-offline-compiler:getPorts'
          }
        ]
      }
      { type: 'separator' }
      {
        'label': 'Toggle Developer Tools Console'
        'command': 'window:toggle-dev-tools'
      }
    ]
  }
]
