# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'alt-cmd-shift-l': 'particle-offline-compiler:compile'
  'alt-cmd-shift-p': 'particle-offline-compiler:compileDFU'
  'alt-cmd-shift-o': 'particle-offline-compiler:OTAU'
  'alt-cmd-shift-k': 'particle-offline-compiler:usbFlash'
  'ctrl-alt-c': 'particle-offline-compiler:console'
  'alt-ctrl-shift-l': 'particle-offline-compiler:compile'
  'alt-ctrl-shift-p': 'particle-offline-compiler:compileDFU'
  'alt-ctrl-shift-o': 'particle-offline-compiler:OTAU'
  'alt-ctrl-shift-k': 'particle-offline-compiler:usbFlash'
